table {
    /* border-collapse: collapse; */
    border-spacing: 0px;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 2px 2px 4px;
    white-space: nowrap; 
}

th {
    position: sticky;
    top: 42px;
    background-clip: padding-box;
    /* padding: 4px 3px 4px 2px; */
    background: lightgrey;
}
  
tr:nth-child(even) {
    background-color: #ecd5ab;
}