table {
    position: relative;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    white-space: nowrap; 
}

th {
    position: sticky;
    top: 0px;
    background: white;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}