.reviewData {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  position: relative;
}
.actionButton {
  padding: 0px;
}
.reviewTitle {
  color: #333
}

.reviewDelete {
  padding: 0px;
}

.reviewComment,
.reviewTitle {
  padding-right: 1rem;
}