.profileContainer {
    display: block;
    width: 50%;
    border-radius: 2px;
    border-color: #666666;
    padding: 1em;
    margin: 50px;
    box-shadow: .2em .2em .2em rgba(0,0,0,0.23);
    background: #fff;
    
}
  
  .title {
    text-transform: uppercase;
    color: #666666;
    margin: 0 0 1em 0;
  }

  .input{
  color: black;
  font-size: 120%;
  display: flex;

  }
  
  h4 {
    color: #666666;
  }

.category {
    text-transform: uppercase;
    color: #666666;
}


/*All Table styling below*/
#showProducts {
    color: white !important;
    font-weight: normal !important;
}

summary > * {
  display: inline;
}

p {
    color: white;
}

.viewPurchaseHistory {
  color: black;
  font-weight: bold;
  font-size: 120%;
}

summary {
  margin-left: 10px;
}
