.profileContainer {
    display: block;
    width: 50%;
    border-radius: 2px;
    border-color: #666666;
    padding: 1em;
    margin: 50px;
    box-shadow: .2em .2em .2em rgba(0,0,0,0.23);
    background: #fff;
    
}
  
  .title {
    text-transform: uppercase;
    color: #666666;
    margin: 0 0 1em 0;
  }

  .input{
  color: black;
  font-size: 120%;
  display: flex;

  }
  
  h4 {
    color: #666666;
  }

.category {
    text-transform: uppercase;
    color: #666666;
}


/*All Table styling below*/
.purchaseHistoryTable summary > * {
  display: inline;
}

.purchaseHistoryTable p {
    color: white;
}
.viewPurchaseHistory {
  color: black;
  font-weight: bold;
  font-size: 120%;
}

.purchaseHistoryTable summary {
  margin-left: 10px;
}
.purchaseHistoryTable {
    display: flex;  

    width: 50%;
}

.purchaseHistoryTable table {
    display: block;
    width: 50%;
    border-radius: 2px;
    border-color: #666666;
    padding: 1em;
    margin: 50px;
    box-shadow: .2em .2em .2em rgba(0,0,0,0.23);
    background: #fff;
}

.purchaseHistoryTable td,
.purchaseHistoryTable th {
    border: 1px solid black;
    padding: 4px 3px 4px 3px;
    white-space: nowrap;
}

.purchaseHistoryTable td {
    text-align: center;
}

.purchaseHistoryTable th {
    position: sticky;
    top: 0px;
    border-top: 1px solid black;
    text-align: center;
    background: #d0a800;
    width: 50%;
}

.purchaseHistoryTable th:first-child,
.purchaseHistoryTable td:first-child {
    border-left: 1px solid black;
}

.purchaseHistoryTable tr:nth-child(even) {
    background-color: #1db9bf
}

.purchaseHistoryTable tr:nth-child(odd) {
    background-color: #179297;
}