form {
    display: block;
    box-sizing: border-box;
  
    border-radius: 2px;
    border-color: #666666;
    padding: 1em;
    margin: 50px;
    box-shadow: .2em .2em .2em rgba(0,0,0,0.23);
    background: #fff;
    
}
  
  .title {
    text-transform: uppercase;
    color: #666666;
    margin: 0 0 1em 0;
  }
  

.underline {
    text-decoration: underline;
}
  