form {
    display: block;
    box-sizing: border-box;
    border-radius: 2px;
    border-color: #666666;
    padding: 1em;
    margin: 50px;
    box-shadow: .2em .2em .2em rgba(0, 0, 0, 0.23);
    background: #fff;
}

.title {
    text-transform: uppercase;
    color: #666666;
    margin: 0 0 1em 0;
}

.underline {
    text-decoration: underline;
}

/* all table styling below */
.tableDiv {
    display: flex !important;

    width: 50% !important;

}
/*
th {
    position: sticky;
    top: 0px;
    border-top: 1px solid black;
    text-align: center;
    background: #d0a800;
}

tr:nth-child(even) {
    background-color: #1db9bf
}

tr:nth-child(odd) {
    background-color: #179297;
}
*/
