form {
    display: block;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 5px;
    border-color: #666666;
    padding: 1em;
    margin: 50px;
    box-shadow: .2em .2em .2em rgba(0,0,0,0.23);
    background: white;
    
}

body{
  background: #1db9bf;
}


  
  .title {
    text-transform: uppercase;
    color: #666666;
    margin: 0 0 1em 0;
  }
  
  .category{
      color: red;

  }