.header{
  position: sticky;
  top: 0px;
  margin: 20px;
  z-index: 1;
  background-color: #5CE1E6;
  font-size: calc(1%);


}

.logo{
}

.header-right{
  display:flex;
  justify-content: right;
  align-items: center;

}
