 .reservationInfoContainer {
     display: flex;
     justify-content: center;
 }

 .reservationContainer {
     display: grid;
     width: 50%;
     border-radius: 2px;
     border-color: #0FA3B1;
     padding: 1em;
     margin: 50px;
     box-shadow: .2em .2em .2em rgba(0, 0, 0, 0.23);
     background: #fff;
     height: 55vh;
 }

 .title {
     text-transform: uppercase;
     color: #0FA3B1;
     margin: 0 0 1em 0;
 }

 .input {
     color: black;
     font-size: 80%;
     padding-top: 0px;
 }

 .inputContainer {
     height: 33px;
 }

 h4 {
     color: #0FA3B1;
     margin-top: 14px;
 }

 .errorMessage {
     color: red;
     font-size: 12px;
     padding-top: 0px;
     position: relative;
     right: 0px;
     top: -5px;
 }

 .errMsg {
     color: red;
     font-size: 14px;
     margin: 0px 2px 4px 4px;
 }

 .button {
     display: block;
     margin: auto;
 }