.pagination {
    display: flex;
    justify-content: center;
  }
  
.pagination > li {
    border: 1px solid lightgray;
    color: #2c689c;
    display: inline-block;
    list-style: none;
    padding-left: 0;
  }
  
.pagination > li > a,
.pagination > li > span {
    background-color: #ffff;
    color: #2c689c;
    cursor: pointer;
    float: left;
    font-size: 20px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    margin-left: -1px;
  }
  
.pagination>li.active>a {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #ffff;
  }
  
  /* Style the active class (and buttons on mouse-over) */
.pagination > li > a:hover {
    background-color: #e2e2e2;
    color: blue;
  }
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-right: 0;
    margin-left: 0;
  }