.column {
    color: white;
    float: left;
    padding: 5px;
    margin-left: 1.4em;
    width: 40%;
}

.createButton{
    background-color: #179297;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: .75em;
    margin-left: 2em;
    padding: 3px 20px 5px 20px;
    width: auto;
}

.createProductPage {
    min-height: 800px;
}

.productFields {
   background-color: #1db9bf;
   color: black;
   font-size: 20px;
   margin-left: auto;
   margin-right: auto;
   width: auto;
}

.h1 {
    color: white;
    text-align: justify;
    text-decoration: underline;
    margin-left: 1.3em;
    margin-top: 0;
}

.column label {
    color: white;
}

.column input {
    width: 500px;
}

.wholePage {
    background-color: #1db9bf;
}