.button {
    display: block;
    background-color: #d6fff6;
    border: 2px solid #231651;
    border-radius: 10px;
    color: #231651;
    font-weight: bold;
    margin: 10px auto 10px auto;
    padding: 8px;
    font-size: 20px;
    width: 20em;
}

a {
    text-decoration: none;
}

.roomTypeTable {
    overflow: auto;
}

.roomTypeTable table {
    color: #231651;
    width: 100vw;
    height: calc(100vh - 180px);
    font-weight: 800;
    font-size: 1em;
}

.roomTypeTable th {
    position: sticky;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #FF8484;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

.roomTypeTable tr {
    background-color: #D6fff6;
    color: #231651;
    font-family: Arial, Helvetica, sans-serif;
}

.roomTypeTable td {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;

}

.leftButton {
    padding-left: 3px;
}